.editing-dialog-thumbnail
  .visualization
    %i.thumbnail-icon.editing-icon-group

  .title
    Profile

  .description
    The profile page displays a form where logged in users and editors can edit their profile.
