%h1 Vielen Dank f체r Ihre Antwort

%p
  =(@contact.gender == "M")? "Sehr geehrter Herr" : "Sehr geehrte Frau"
  =@contact.last_name + ","
  %br
  f체r dieses Event haben Sie bereits zu- oder abgesagt. Sollten Sie Ihre Meinung ge채ndert haben bitten wir Sie uns unter folgender Telefonnummer (+49 30 1234567) zu kontaktieren.
%p
  Wir bitten Sie um Ihr Verst채ndnis.