%div.media-body
  - if @widget.person.present?
    %h3.media-heading
      = @widget.person.first_name
      = @widget.person.last_name

    - if @widget.person.email.present?
      %p
        %span.glyphicon.glyphicon-envelope

        = mail_to(@widget.person.email)
