.editing-mediabrowser-footer
  %a.editing-button.mediabrowser-close
    = t('.close')

  %a.editing-button.editing-green.mediabrowser-save
    = t('.select')

    %span.editing-mediabrowser-counter.selected-total

  %a.editing-button.editing-red.mediabrowser-delete
    = t('.delete')

    %span.editing-mediabrowser-counter.selected-total
