.editing-mediabrowser-body
  .editing-mediabrowser-wrapper
    = render 'header'

    = render 'filter', obj_classes: @searchable_classes

    .editing-mediabrowser-items

  .editing-mediabrowser-inspector

= render 'button_bar'
