/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require projekktor
 *= require_self
 *= require_tree ./application
 */

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
  .col-md-12 {
    width: 100%;
    margin-bottom: 20px;
}
  .col-md-11 {
    width: 91.66666666666666%;
    margin-bottom: 20px;
  }
  .col-md-10 {
    width: 83.33333333333334%;
    margin-bottom: 20px;
  }
  .col-md-9 {
    width: 75%;
    margin-bottom: 20px;
  }
  .col-md-8 {
    width: 66.66666666666666%;
    margin-bottom: 20px;
  }
  .col-md-7 {
    width: 58.333333333333336%;
    margin-bottom: 20px;
  }
  .col-md-6 {
    width: 50%;
    margin-bottom: 20px;
  }
  .col-md-5 {
    width: 41.66666666666667%;
    margin-bottom: 20px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
    margin-bottom: 20px;
  }
  .col-md-3 {
    width: 25%;
    margin-bottom: 20px;
  }
  .col-md-2 {
    width: 16.666666666666664%;
    margin-bottom: 20px;
  }
  .col-md-1 {
    width: 8.333333333333332%;
    margin-bottom: 20px;
  }