%hr

%footer
  .row
    .col-md-9
      %p
        &copy; 2014 Company, Inc.

    .col-md-3.text-right
      %p
        %small.muted
          Powered by

          = link_to('scrival', 'http://www.scrival.com', title: 'scrival powers great websites.')

          - if page.homepage.present?
            |

            = render('layouts/login', login_page: page.homepage.login_page, current_user: current_user)