.social_sharing
  = render('layouts/social_sharing/facebook', url: "http://www.infopark.de")
  = render('layouts/social_sharing/google', url: "http://www.infopark.de")
  = render('layouts/social_sharing/twitter', url: "http://www.infopark.de")
  = render('layouts/social_sharing/linkedin', url: "http://www.infopark.de")
